<%- include('partials/header') %>
<link rel="stylesheet" href="/public/css/style.css">

<div id="scan-result"></div>

<div id="qr-reader"></div>

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="/js/scanner.js"></script>

<%- include('partials/footer') %>